.card{
  display: flex;
  flex-wrap: wrap;
  height: 200px;
  width: 200px;
  box-shadow: 10px 5px 5px black;
  padding: 32px;
  margin: 16px;
  border: 16px;
/*   margin: 10px;
  padding: 20px;
  border: 50px;
  font-size: 30px;
  background-color: dodgerblue;*/
}
.card img{
  height: auto;
  width: 100%;
 } 
.card h2, .card p{
  width: 100%;
  margin: 2px;
}
.conj{
  display: flex;
  flex-wrap: wrap;
}
/* .card{
    display: flex;
    background-color: DodgerBlue;
}
.card{
  background-color: #f1f1f1;
  margin: 10px;
  padding: 20px;
  font-size: 30px;
} */